body {
    background-color: bisque;
    color: rgb(17, 9, 1);
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 48px;
}

img {
    width: 400px;
    height: 240.5px;
}

.kep {
    text-align: center;
}

h3 {
    font-size: x-large;
}

p {
    font-weight: bold;
}

.vege {
    font-weight: normal;
}